.controller.custom {
    background: url(base.png); 
    height: 531px;
    width: 1291px;
}

.custom.disconnected {
    background: url(disconnected.png);
}

.custom .button{
position: absolute;
    width: 243px;
    height: 243px;
    background: url(abxy.png);
}
.custom .button.pressed {
    background-position-y: -243px;
}
.custom .a{
    background-position: 0 0;
    top: 15px;
    left: 789px;
}
.custom .b{
    background-position: -243px 0;
    top: 15px;
    left: 1169px;
}
.custom .x{
    background-position: -486px 0;
    top: 15px;
    left: 531px;
}
.custom .y{
    background-position: -729px 0;
    top: 273px;
    left: 1047px;
}

.custom .dpad{
    position: absolute;
    width: 217px;
    height: 217px;

    top: 286px;
    left: 13px;
}

.custom.disconnected .dpad {
    display: none;
}

.custom .face{
    position: absolute;
    background: url(dpad.png);
}

.custom .face.up, .custom .face.down, .custom .face.left, .custom .face.right{
    width: 87px;
    height: 87px;
}

.custom .face.up{
    top: 0px;
    left: 81px;
    background-position: -87px 0;
}

.custom .face.down{
    top: 130px;
    left: 91px;
    background-position: -261px 0;
}

.custom .face.left{
    top: 81px;
    left: 0px;
    background-position: 0 0;
}

.custom .face.right{
    top: 81px;
    left: 130px;
    background-position: -174px 0;
}

.custom .face.pressed{
    background-position-y: -87px;
}
